*.aux
*.bbl
*.blg
*.eps
*.gpi
*.log
*.out
presentations/ans_november/_individual/adDerivation.pdf
presentations/ans_november/adbc.pdf
presentations/ans_november/flatland.pdf
presentations/ans_november_larsen/
presentations/kapl/kapl-rp.pdf
presentations/kapl/kapl.pdf
presentations/ornl/ornl-rp.pdf
presentations/ornl/ornl.pdf
presentations/mc2011/abstract.pdf
presentations/mc2011/mc2011_latex_template.pdf
presentations/mc2011/paper.pdf
presentations/mc2011/presentation.pdf
presentations/prospectus/prospectus.pdf
presentations/pytrt/pytrt.pdf
presentations/pytrt/pytrt.vrb
thesis/_individual/adDerivation.pdf
thesis/_individual/aponeDerivation.pdf
thesis/_individual/appendixLinearization.pdf
thesis/_individual/conclusion.pdf
thesis/_individual/flatland.pdf
thesis/_individual/implementation.pdf
thesis/_individual/introduction.pdf
thesis/_individual/simpleNumericalResults.pdf
thesis/_individual/trtAnisotropicDerivation.pdf
thesis/_individual/trtBackground.pdf
thesis/_individual/trtFormulation.pdf
thesis/_individual/trtNumericalResults.pdf
thesis/thesis.loa
thesis/thesis.lof
thesis/thesis.lot
thesis/thesis.pdf
thesis/finalAbstract.pdf